# Токен бота от @BotFather
BOT_TOKEN=

# Время на прохождение капчи, сек
CAPTCHA_TIMEOUT=300

# Бан после таймаута капчи, сек
COOLDOWN_TIMEOUT=300

# Бан после неверного эмодзи, сек
COOLDOWN_WRONG=120
